.k-extension
{
	float: right;
	background-color:#337ab7;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
	cursor:pointer;
}
.k-extension>img
{
	width: 20px;
    height: 20px;
    margin-top: 7px;
}
.form-create 
{
    width: 250px;
    height: auto;
    position: absolute;
    right:0;
    background: #fff;
    font-family: tahoma;
    padding-top:0;
    padding-left:2px;
    padding-right: 8px;
    padding-bottom: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	z-index:99;
}
.form-create>div
{
    padding-left: 5px;
    padding-top:5px;
    padding-bottom: 3px;
}
.form-create>div>span
{
    display: block;
    padding-bottom: 4px;
}
.form-create>div>input
{
    border: 1px solid #ccc!important;
    display: block;
    border-radius: 4px;
    padding: 6px;
    border-bottom: 1px solid #ccc;
    width: 230px;
}
.icon-select
{
    border: solid 1px #ccc;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.icon-select>label
{
    padding-right: 4%;
    cursor: pointer;
	width:230px;
}
.form-create>div>button
{
    display: inline-block;
    padding: 8px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
    background: #4caf50;
    margin-top:6px;
    cursor: pointer;
}
.btn-close
{
	background:#777 !important; 
}