<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<style>.form-create
{
width: 250px;
height: auto;
position: absolute;
left:0;
background: #fff;
font-family: tahoma;
padding-top:0;
padding-left:2px;
padding-right: 8px;
padding-bottom: 20px;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.form-create>div
{
padding-left: 5px;
padding-top:5px;
padding-bottom: 3px;
}
.form-create>div>span
{
display: block;
padding-bottom: 4px;
}
.form-create>div>input
{
border: 1px solid #ccc!important;
display: block;
border-radius: 4px;
padding: 6px;
border-bottom: 1px solid #ccc;
width: 100%;
}
.icon-select
{
border: solid 1px #ccc;
border-radius: 3px;
padding-top: 4px;
padding-bottom: 4px;
}
.icon-select>label
{
padding-right: 4%;
cursor: pointer;
}
.form-create>div>button
{
display: inline-block;
padding: 8px;
border: none;
border-radius: 2px;
font-size: 15px;
color: white;
background: #4caf50;
margin-top:6px;
cursor: pointer;
}</style>
<div class="form-create">
    <div>
        <span>Name</span>
        <input type="text" class="name-form">
    </div>
    <div>
        <span>Post Link</span>
        <input type="text" class="link-form">
    </div>
    <div>
        <span>Limit Users</span>
        <input type="Number" value="100" class="limit-form">
    </div>
    <div>
        <span>Type</span>
        <div class="icon-select">
            <label class="radio">
                <input type="radio" name="k-type" value="1">
                Likes
            </label>
            <label class="radio">
                <input type="radio" name="k-type" value="2" checked>
               	Comments
            </label>
            <label class="radio">
                <input type="radio" name="k-type" value="3">
                Shares
            </label>
        </div>
    </div>
    <div>
        <button class="btn-create">Create</button>
    </div>
</div>